*{
    margin: 0 auto;
}
body{
    font-family: 'Quicksand', sans-serif;
    position:relative;
    width: 100%;
    overflow-x: hidden;
}
#interior{
    text-align: center;
    width: 80%;
}


/*-----------------------menu-------------------*/

header{
    display: flex;
    position: fixed;
    background-image: linear-gradient(to left, #C1ABAD, transparent);
    width: 100%;
    z-index: 5;
}
nav{
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header a{
    font-size: 20px;
    color: #5F3915;
}
.home{
    display: none;
}
.name{
    font-size: 40px;
    margin-left: 5%;
}
.menu{
    margin: 0;
    transition: background-color .7s;
}
.dropdown{
    margin: 0;
    position: relative;
}
.dropdown ul{
    background-color: #D3C4C5;
    opacity: .8;
    list-style-type: none;
    margin-top: .6rem;
    width: 11.5rem;
    position: absolute;
    text-align: center;
    display: none;
    padding: 0;
    box-shadow: 0 0 23px 0 rgba(0,0,0,0.25);
    border-radius: 5%;
}
.dropdown ul li a{
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
}
a.active, .dropdown ul li:hover, a.menu:hover{
    background-color: #F1E1DA;
}
.dropdown a.menu:hover + ul,
.dropdown ul:hover{
    display: block;
}


/*-----------------------na telefon-------------------*/
@media (min-width: 800px){
    .namePhone{
        display: none;
    }
    .menu{
        padding: .7rem 3rem;
    }
    .komentarze p{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .produkty section{
        width: 80%;
        padding: 0 110px 15% 110px;
    }
    .produkty span{
        max-width: 60%;
    }
    .onas p{
        width: 50%;
        text-align: left;
        font-size: 18px;
        display: inline-block;
    }
    .onas img{
        display: inline-block;
    }
}

@media (max-width: 800px){
    header{
        background-color: #D3C4C5;
        opacity: .9;
        justify-content: space-around;
        flex-direction: column;
        width: 25%;
        right: -25%;
    }
    .menu{
        padding: .25rem 2rem;
    }
    .komentarze p{
        display: inline;
    }
    .name{
        display: none;
    }
    .namePhone{
        font-size: 40px;
        color: #5F3915;
        display: block;
        margin-top: 4%;
        text-align: center;
    }
    .bighr{
        width: 100%;
        background-color: #A6878A;
        height: 1px;
        border: none;
        margin: 5% 0;
    }
    .left, .right, .wstawka, .kwiatki, .circle{
        display: none;
    }
    .produkty{
        margin: 0;
    } 
    .produkty span{
        max-width: 90%;
    } 
    .produkty section{
        width: 100%;
        padding: 0;
    }
    .onas p{
        text-align: left;
        margin-left: 5px;
        font-size: 18px;
    }  
}

/*-----------------------ogolne zalozenia w body-------------------*/


img{
    border-radius: 25%;
}
h1{
    font-size: 25px;
}
a:link{
    color: #5F3915;
    text-decoration: none;
}
hr{
    background-color: #A6878A;
    width: 40%;
    height: 2px;
    margin-bottom: 5%;
    min-width: 200px;
}
section{
    color: #636161;
    display: block;
    padding-top: 7%;
    z-index: 3;
}


/*-----------------------tlo (kwiatki)-------------------*/

.kwiatekLewy, .kwiatekPrawy{
    width: 250px;
    height: 250px;
    opacity: 0.2;
    position: absolute;
    z-index: -1;
}
.kwiatekLewy{
    left: 0; 
}
.kwiatekPrawy{
    right: 0;
}

/*-----------------------wnetrze-------------------*/

.polecane span{
    display: inline-block;
    width: 300px;
    text-align: center;
    margin: 2%; 
}
.polecane img{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
}
.komentarze img{
    width: 40px;
    height: 40px;
    background-color: #DCD6D6;
    border-radius: 50%;
    transition: background-color 1s;
}
.komentarze img:hover{
    background-color: #C9B0B0;
}
.odAutora p{
    display: inline-flex;
    align-items: center;
    font-size: 1.2rem;
    margin-left: 10%;
    margin-right: 10%;
}
.left, .right{
    width: 200px; 
    height: 200px;
}
.left{
    margin-right: 5%;
}
.right{
    margin-left: 5%;
}

/*-----------------------formularz-------------------*/


form{
    text-align: left;
}
input, textarea{
    font-family: 'Quicksand', sans-serif;
    min-width: 50%;
    margin-bottom: 1rem;
    padding: .5rem;
    display: flex;
    align-items: center;
}
label{
    margin-left: 25%;
}
.kontakt{
    line-height: 2rem;
    font-size: 20px;
}
.button{
    min-width: 4.5rem;
    border: 1px solid black;
    height: 2.5rem;
    background-color: #F1E1DA;
    border-radius: 30%;
    justify-content: center;
    font-size: 15px;
    transition: background-color .6s ease-in-out;
}
.button:hover{
    background-color: #DCD6D6;
    border: 1.5px solid black;
}
input:hover, textarea:hover{
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.25);
    border: 2px solid grey;
}
.wstawka{
    position: absolute;
    line-height: 1.5rem;
    left: 40px;
    margin: 0;
    text-align: left;
    z-index: 1;
    padding-top: 15%;
}
.circle{
    background-color: #E7E1DF;
    width: 420px;
    height: 380px;
    border-radius: 50%;
    position: absolute;
    clip: rect(auto auto auto 200px);
    z-index: -1;
    left: -200px;
    margin-top: 10%;
}

.podziekowanie{
    font-size: 40px;
    justify-content: center;
    text-align: center;
}
.podziekowanie a{
    text-decoration: none;
    color: #5F3915;
    position: absolute;
    font-size: 18px;
    right: 20%;
    margin-top: 8%;
    padding: .75rem;
    background-color: #F9F3F0;
    border-radius: 20%;
    transition: background-color .6s;
}
.podziekowanie a:hover{
    background-color: #F1E1DA;
}

/*-----------------------historia-------------------*/

.onas img{
    margin: auto 5%;
    width: 200px; 
    height: 150px;
}

/*-----------------------produkty-------------------*/


.produkty section{
    text-align: left;
    margin: 0;
}
.produkty img{
    width: 300px;
    height: 300px;
}
.fullHr{
    margin-left: 0;
    width: 60%;
    transform: scaleX(-2);
    height: .5px;
    transition: transform 2s;
}
.produkty button:hover + .fullHr{
    transform: scaleX(1);
}
.swiece section, .kule section, .mydla section, .kapiel section, .wlosy section{
    display: flex;
}
.gallery {
    margin: 0;
    display: flex;
    overflow: hidden;
    position: relative;
    width: 300px;
}
.slide{
    display: flex;
}
#nextBtn{
    right: 0;
    padding: 134px 0 134px 50px;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 25%;
}
#prevBtn{
    padding: 134px 50px 134px 0;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
}
#prevBtn, #nextBtn{
    position: absolute;
    background-color: transparent;
    border: none;
    z-index: 2;
}
#nextBtn:hover{
    background-image: linear-gradient(to left, #D3C4C5, transparent);
}
#prevBtn:hover{
    background-image: linear-gradient(to right, #5F3915, transparent);
}
#prevBtn img, #nextBtn img{
    width: 30px;
    height: 30px;
}

/*-----------------------dol-------------------*/

footer{
    width: 100%;
    position: relative;
    justify-content: center;
    margin: 10% 0 1rem 0;
    padding: 5px 0;
    bottom:0;
    background: #D3C4C5; 
    color: #5F3915;
    text-align: center;
}
footer img{
    width: 40px;
    height: 40px;
    margin: .5rem;
}
footer i{
    border-radius: 25%;
    transition: background-color .7s, font-weight .7s;
}
footer i:hover{
    background-color: #C9B0B0;
    font-weight: bold;
}
